
.contenedor_formulario_contacto{
    
    width:60%;
    margin-left: 22%;
    border: 0.5px solid #222222;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
    box-shadow: 1px 1px #d8d8d8, -1em 0 0.4em #d8d8d8;
}
.titulo_formulario_contacto{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 1%;
}
.formulario_contacto{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.campos_form{
    margin-left: 10%;
    margin-top: 3%;
    
}

.input [type=text]{
    border:1 px dotted #222222;
    border-radius: 0;
    -webit-appearence:none;
}
.mensaje_form{
    margin-left: 5%;
    margin-top: 3%;
}
#mensaje_exitoso{
    color:#538BA2;
    width: 80%;
    margin-left:10%;
    margin-bottom: 5%;
}