
.pie{
    background-color:#bdd8db;
    width:100%;
}
.derechos_reservados{
    text-align: center;
    padding-top: 1%;
}
.email{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    
}
.iconoMail{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
   
    
}

.antojo_mail{
    margin-left: 2%;
    text-decoration: none;
    color: #222222;
    
}

.antojo_mail:hover{
    color: white;
}
.logoMail a{
    flex-wrap: wrap;
    
   
}
.iconos_redes_sociales_footer{
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
   margin-left: 65%;
}
.listado_redes_footer a{
    color:#222222;
    flex-wrap: wrap;
    
    

}

.listado_redes_footer a:hover{
   
    flex-wrap: wrap;
    display: flex;
    color:white;

}